<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MusicPortal</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MusicPortal.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>
<body>
    <header>      
        <ul>
            <li>
                <a asp-area="" asp-controller="Account" asp-action="Registration" class="mainMenu">Реєстрація</a>
            </li>
            <li>
                @if (Context.Session.GetString("Email")==null)
                {
                    <a asp-area="" asp-controller="Account" asp-action="Authorization" class="mainMenu">Вхід</a>
                }
                else
                {
                    <a asp-area="" asp-controller="Home" asp-action="Logout" class="mainMenu">Вийти</a>
                   @*  <span class="mainMenu">Привіт, @Context.Session.GetString("Email")</span> *@
                    <a asp-area="" asp-controller="Song" asp-action="AllSongs" class="mainMenu">Привіт, @Context.Session.GetString("Name")</a>
                }
            </li>
        </ul>
    </header>

    <main>
        @RenderBody()
    </main>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - MusicPortal
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
