@model MusicPortal.Models.Song

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <form asp-action="Delete" asp-controller="Song">
        <div>
            <p>Видалення пісні</p>
        </div>
        <table class="songTable">
            <tr>
                <td>
                    <p>@Html.DisplayNameFor(e => e.Title):</p>
                </td>
                <td>
                    <p>@Html.DisplayFor(e => e.Title)</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>@Html.DisplayNameFor(e => e.Author):</p>
                </td>
                <td>
                    <p>@Html.DisplayFor(e => e.Author)</p>
                </td>
            </tr>
        </table>      

        <div class="form-group">
            <input type="hidden" asp-for="Id" />
            <input type="submit" value="Видалити" class="btn btn-danger" />
        </div>
        
        <div>
            <a asp-action="AllSongs">Назад до списку пісень</a>
        </div>
    </form>
</div>
