@model IEnumerable<MusicPortal.Models.Genre>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Всі жанри</h1>
@* <p>
    <a asp-action="Create" asp-controller="Author">Create New Author</a>
</p>
<p>
    <a asp-action="Delete" asp-controller="Author">Delete Author</a>
</p>
<p>
    <a asp-action="Edit" asp-controller="Author">Edit Author</a>
</p> *@

<p>
    <a asp-action="Create" asp-controller="Genre">Створити новий жанр</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
           
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
              
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
