@model MusicPortal.Models.Genre

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <div>
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div>
                <p>Створення жанру</p>
            </div>
            <div class="form-group">
                <input type="text" asp-for="Title" placeholder="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
          
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>

            <div>
                <a asp-action="AllGenres">До списку жанрів</a>
            </div>
        </form>
    </div>
</div>
